<style>
    .page-footer{
       
    background-color: #b6b298 !important;
 
  }
    
</style>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About</h5>
              <p class="grey-text text-lighten-4">Enjoy the array of food trucks to your heart's content. Am not liable for any hungry stomachs</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Materialize CSS Framework</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/SlowLifeMatt/Capstone-Food-Truckin">GitHub repo for this project</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2023 Food Truckin with Matty
          <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/matthew-subin/">Add me on LinkedIn!</a>
          </div>
        </div>
      </footer>