<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>
.new {
  color: #5e35b1 deep-purple darken-1;
}
</style>
<body>
    <div class="row">
      <form class="col s12" action="/truck" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input id="edit" type="text" name="name" class="validate">
            <label for="name">Truck Name</label>
          </div>
          <div class="input-field col s6">
            <input id="edit" type="text" name="img" class="validate">
            <label for="img">Image Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s1">
            <input id="edit" type="text" name="avgprice" class="validate">
            <label for="avgprice">Average Price</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="edit" type="text" name="link" class="validate">
            <label for="link">Link to Food Truck website</label>
          </div>
        </div>
        <h2>  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button></h2>
        </div>

      </form>

    </div>
    

</body>

<script type="text/javascript" src="js/materialize.min.js">
</script>
</html>